<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Payments Application">

    <title>Paypal Payment</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tether.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form-group" action="/payments/paypal/initiatePayment" method="POST">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Orders</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-12" for="ssn">Price:</label>
                                <div class="col-sm-12">
                                    <input type="number" name="amount" min="0.00" max="10000.00" class="form-control"
                                        id="price">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-12" for="ssn">Currency:</label>
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <select type="button" class="btn btn-info" name="currency">
                                            <div class="dropdown-menu">
                                                <option class="dropdown-item" href="#">Select Currency</option>
                                                <option class="dropdown-item" href="#">USD</option>
                                                <option class="dropdown-item" href="#">EUR</option>
                                                <option class="dropdown-item" href="#">THB</option>
                                                <option class="dropdown-item" href="#">HKD</option>
                                                <option class="dropdown-item" href="#">SGD</option>
                                                <option class="dropdown-item" href="#">AUD</option>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-12" for="ssn">Customer Full Name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="cust_name" name="cust_name">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>

</html>